spring:
  application:
    name: discodeit
  # DB 접속 정보
  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit # PostgreSQL 접속 URL (/DB명)
    username: discodeit_user                        # DB 사용자 계정
    password: discodeit1234                         # DB 비밀번호
    driver-class-name: org.postgresql.Driver        # PostgreSQL JDBC 드라이버 클래스

  # JPA 설정
  jpa:
    open-in-view: false
    # 영속성 컨텍스트는 서비스 계층까지만 열려있다.
    # 기본적으로는 true -> 클라이언트에게 응답이 갈때까지 열려있음
    # 그래서 Controller/Service/Mapper/직렬화 과정에서 LAZY 로딩 필드에 접근해도 추가 쿼리가 나감
    # 그러면 편리하지만 DB 커넥션이 오래 점유되기 때문에 OSIV를 끄는 것.
    # 이제 영속성 컨텍스트는 서비스 계층(@Transactional 범위)까지만 열려 있음.
    #Controller나 DTO 변환 단계에서 LAZY 필드 접근하면 LazyInitializationException 터짐.
    #→ “세션이 이미 닫혔는데, 이 연관관계에 접근하려 한다”는 오류.
    hibernate:
      ddl-auto: none #validate      # 테이블 자동 생성/업데이트 옵션
                                    # create, create-drop, update, validate, none
    show-sql: true
    properties:
      hibernate:
        format_sql: true # SQL 문을 보기 좋게 줄바꿈/들여쓰기 출력
        highlight_sql: true # 콘솔에 SQL 키워드를 색상 강조 (Hibernate 6.x 지원)
        use_sql_comments: true # SQL에 JPQL/HQL 주석 추가 (어떤 쿼리인지 표시)
        dialect: org.hibernate.dialect.PostgreSQLDialect # PostgreSQL 전용 Hibernate 방언(Dialect)
        physical_naming_strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        # Naming 전략 추가 DB 스네이크 - Java 카멜
        jdbc.time_zone: UTC # JDBC 레벨에서 UTC로 통일

discodeit:
  storage:
    type: local
    local:
      root-path: /var/uploads/discodeit

server:
  port: 8080

# swagger
springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    display-request-duration: true
    persist-authorization: true

# log
logging:
  level:
    # Hibernate SQL
    org.hibernate.SQL: off # 실행되는 SQL 출력
    org.hibernate.orm.jdbc.bind: trace # 바인딩된 파라미터 값 출력
    org.hibernate.type.descriptor.sql: trace # (추가) 컬럼 값 변환 로깅

    # Spring Web
    org.springframework.web: trace
    org.springframework.web.filter.CommonsRequestLoggingFilter: DEBUG

  pattern:
    console: "%d{HH:mm:ss} %-5level %logger{36} - %msg%n"